@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400|Roboto:100,300');

html {
  /* min-height: 100%; */
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: linear-gradient(#425ee8, #7083e0);
  background-repeat: no-repeat;
  font-family: 'Raleway';
  /* height: 100%; */
}

/* #root {
  height: 100%;
} */
