.footer {
    position: absolute;
    bottom: 4px;
    text-align: center;
    font-size: 13px;
    left: 0;
    right: 0;
}

.footer__link {
    color: white;
}

.footer__attribution {
   margin: 2px;
}

.footer__attribution > a {
    color: white;
}

@media (max-width: 983px), (max-height: 717px) {
    .footer_main-page {
      position: relative;
    }
}

@media (max-height: 794px) and (min-width: 984px) {
    .footer_main-page {
        font-size: 12px;
    }
}